/* ### css by flurdy . Copyright: electric ray 2004, www.eray.co.uk ### */

#bow { padding: 0.4em 0 0 3em; }
#jib { padding: 0; }
#jib ul { margin: 0.4em 0.8em;  }
img#fork-me {
    float: right; width: 6em; margin-right: 0em; margin-top: -0.4em;
    -webkit-transform: rotate(90deg);
    -moz-transform: rotate(90deg);
    -o-transform: rotate(90deg);
    filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=1);
}
#stern { padding: 0.2em 1.5em; margin: 0px; overflow: hidden; }
#stern #flurdy{
    font-size: 1em;
	float: right;
	margin: -0.4em 0;
	padding: 0;
}
#stern #flurdy a{
	margin: 0;
	padding: 0;
}
#stern #flurdy img{
	margin: 0;
	padding: 0;
	height: 1em;
}
#aft { padding: 0 2em; }
ul.horizontal {
	margin: 0;
}
ul.horizontal li {
	display: inline;
	padding-right: 20px;
	list-style: none;
}
#cargo button { margin: 0 1em; }

#cargo .form-actions form { display: inline; }
.external-link { vertical-align: top; margin: 0.1em;}