@(event: Event, albums: Seq[Album], participants: Seq[Participant], requesters: Seq[Participant], updateForm: Form[(String,String,String,String,Boolean,Boolean) ], addParticipantForm: Form[String] )(implicit currentParticipant: Option[Participant], flash: Flash, analyticsDetails: Option[String])

@import helper._
@import helper.twitterBootstrap._
@import models._

@main(" snaps | edit event | " + event.eventName) {
<li>
    <span class="divider">/</span>
    <a href="@routes.EventController.viewEvent(event.eventId)">Event</a>
</li>
}{


@for(error <- updateForm.errors){
    <p class="alert alert-error">
        Oh dear: @error.message: @error.key
    </p>
}


@for(error <- addParticipantForm.errors){
<p class="alert alert-error">
    Oh dear: @error.message: @error.key
</p>
}

@flash.get("message").map { message =>
    <p class="alert alert-info">
        @message
    </p>
}

@flash.get("errorMessage").map { message =>
    <p class="alert alert-error">
        @message
    </p>
}

@form(action = routes.EventController.updateEvent(event.eventId), 'class -> "well form-horizontal"){
<fieldset>
    <legend>Event name</legend>
    <input type="text" name="eventName" class="span4" value="@updateForm("eventName").value" placeholder="Event name"/></fieldset>
<fieldset>
    <legend>Event date</legend>
    <input type="text" name="eventDate" class="span3" value="@updateForm("eventDate").value" placeholder="Event date"/>
</fieldset>
<fieldset>
    <legend>Organiser</legend>
    <input type="text" readonly="readonly" name="organiser" class="span4" value="@updateForm("organiser").value" placeholder="Main organiser"/>
</fieldset>
<fieldset>
    <legend>Description</legend>
    <textarea name="description" class="span6" rows="8">@updateForm("description").value</textarea>
</fieldset>
<fieldset>
    <legend>Access</legend>
    <div class="control-group">
        <label class="radio" for="publictrue">
            <input type="radio" name="public" id="publictrue" value="true" @if(updateForm("public").value.getOrElse("") == "true"){ checked="checked" } />
            Public event. Anyone can view it
        </label>
        <label class="radio" for="publicfalse">
            <input type="radio" name="public" id="publicfalse"  value="false" @if(updateForm("public").value.getOrElse("") == "false"){ checked="checked" } />
            Private event. Authorised participants only
        </label>
    </div>
    <div class="control-group">
        <label class="radio" for="searchtrue">
            <input type="radio" name="searchable" id="searchtrue" value="true" @if(updateForm("searchable").value.getOrElse("") == "true"){ checked="checked" } />
            Searchable. Anyone can find it
        </label>
        <label class="radio" for="searchfalse">
            <input type="radio" name="searchable" id="searchfalse"  value="false" @if(updateForm("searchable").value.getOrElse("") == "false"){ checked="checked" } />
            Not searchable. Can not be found by searching
        </label>
    </div>
</fieldset>

<div class="form-actions">
    <button type="submit" class="btn btn-success">Update event</button>
    <a href="@routes.EventController.showDeleteEvent(event.eventId)"><button type="button" class="btn btn-danger">Delete event</button></a>
    <a class="btn" href="@routes.EventController.viewEvent(event.eventId)">Cancel</a>
</div>
}

<div class="well">

    <h3>Photo albums</h3>

    @if(!albums.isEmpty){

    <table class="table table-striped">
        <thead>
        <tr>
            <th colspan="2">Link</th>
            <th>Publisher</th>
        </tr>
        </thead>
        <tbody>
        @for(album <- albums){
            <tr>
                @form(action = routes.AlbumController.updateAlbum(event.eventId,album.albumId), 'class -> "well form-horizontal"){
                    <td colspan="2"><input type="text" name="url" class="span5" value="@album.url"/></td>
                    <td><input type="text" name="publisher" class="input-small" value="@album.publisher"/></td>
                </tr>
                <tr>
                    <th colspan="1">notes</th>
                    <th colspan="2">&nbsp;</th>
                </tr>
                <tr>
                    <td colspan="1"><textarea rows="3" cols="60" class="span4" placeholder="Notes regarding how to access album">@album.notes</textarea></td>
                    <td rowspan="1" class="album-button"><button type="submit" class="btn btn-primary btn-mini">Update album</button></td>
                }
                @form(action = routes.AlbumController.removeAlbum(event.eventId,album.albumId), 'class -> "well form-horizontal"){
                    <td rowspan="1" class="album-button"><button type="submit" class="btn btn-danger btn-mini">Remove album</button></td>
                }
            </tr>
        }
        </tbody>
    </table>
    }
    @if( event.isParticipant(currentParticipant.get) ){
        @form(action = routes.AlbumController.showAddAlbum(event.eventId), 'class -> "form-inline"){
            <button type="submit" class="btn btn-info btn-small">Add album</button>
        }
    }

</div>

<div class="well">

    <h3>Participants</h3>

    @if(!participants.isEmpty){

    <table class="table table-striped">
        <thead>
        <tr>
            <th>Participant</th>
            <th colspan="1">Actions</th>
        </tr>
        </thead>
        <tbody>
        @for( participant <- participants ){
        <tr>
            <td>@participant.username</td>
            <td>
                @form(action = routes.EventController.removeParticipant(event.eventId,participant.participantId), 'class -> "form-horizontal"){
                <button type="submit" class="btn btn-warning btn-mini">Remove</button>
                }
            </td>
        </tr>
        }
        </tbody>
    </table>
    }
    @if(!requesters.isEmpty){
    <h3>Join requests</h3>

    <table class="table table-striped">
        <thead>
        <tr>
            <th>Participant</th>
            <th colspan="1">Actions</th>
        </tr>
        </thead>
        <tbody>
        @for( participant <- requesters ){
        <tr>
            <td>@participant.username</td>
            <td>
                @form(action = routes.EventController.addRequestedParticipant(event.eventId,participant.participantId), 'class -> "form-horizontal"){
                <button type="submit" class="btn btn-success btn-mini">Add participant</button>
                }
            </td>
        </tr>
        }
        </tbody>
    </table>
    }

    @form(action = routes.EventController.addParticipant(event.eventId), 'class -> "well form-horizontal"){
        <input type="text" name="username" class="span3" placeholder="Username of participant" value=""/>
        <button type="submit" class="btn btn-success btn-small">Add participant</button>
    }

</div>

}