@(event: Event, albums: Seq[Album], participants: Seq[Participant], updateForm: Form[(String,String,String,String,Boolean) ])(implicit currentParticipant: Option[Participant], flash: Flash)

@import helper._
@import helper.twitterBootstrap._
@import models._

@main(" snaps | edit event | " + event.eventName) {
<li>
    <span class="divider">/</span>
    <a href="@routes.EventController.viewEvent(event.eventId)">Event</a>
</li>
}{


@for(error <- updateForm.errors){
    <p class="alert alert-error">
        Oh dear: @error.message: @error.key
    </p>
}

@flash.get("message").map { message =>
    <p class="alert alert-info">
        @message
    </p>
}

@flash.get("errorMessage").map { message =>
    <p class="alert alert-error">
        @message
    </p>
}

@form(action = routes.EventController.updateEvent(event.eventId), 'class -> "well form-horizontal"){
<fieldset>
    <legend>Event name</legend>
    <input type="text" name="eventName" class="span4" value="@updateForm("eventName").value" placeholder="Event name"/></fieldset>
<fieldset>
    <legend>Event date</legend>
    <input type="text" name="eventDate" class="span2" value="@updateForm("eventDate").value" placeholder="Event date"/>
</fieldset>
<fieldset>
    <legend>Organiser</legend>
    <input type="text" disabled="disabled" name="organiser" class="span4" value="@updateForm("organiser").value" placeholder="Main organiser"/>
</fieldset>
<fieldset>
    <legend>Description</legend>
    <textarea name="description" class="span6" rows="8">@updateForm("description").value</textarea>
</fieldset>
<fieldset>
    <legend>Visibility:@updateForm("public").value</legend>
    <label class="radio" for="publictrue">
        <input type="radio" name="public" id="publictrue" value="true" @if(updateForm("public").value.getOrElse("") == "true"){ checked="checked" } />
        Public event. Anyone can view it
    </label>
    <label class="radio" for="publicfalse">
        <input type="radio" name="public" id="publicfalse"  value="false" @if(updateForm("public").value.getOrElse("") == "false"){ checked="checked" } />
        Private event. Authorised participants only
    </label>
</fieldset>

<div class="form-actions">
    <button type="submit" class="btn btn-primary">Update event</button>
    <a href="@routes.EventController.showDeleteEvent(event.eventId)"><button type="button" class="btn btn-danger">Delete event</button></a>
    <a href="@routes.EventController.viewEvent(event.eventId)"><button type="button" class="btn">Cancel</button></a>
</div>
}

<div class="well">

    <h3>Photo albums</h3>

    <table class="table table-striped">
        <thead>
        <tr>
            <th>Publisher</th>
            <th>Link</th>
            <th colspan="2">Actions</th>
        </tr>
        </thead>
        <tbody>
        @for(album <- albums){
            <tr>
                @form(action = routes.AlbumController.updateAlbum(event.eventId,album.albumId), 'class -> "well form-horizontal"){
                <td><input type="text" name="publisher" class="input-small" value="@album.publisher"/></td>
                <td><input type="text" name="url" class="span3" value="@album.url"/></td>
                <td><button type="submit" class="btn btn-primary btn-mini">Update album</button></td>
                }
                @form(action = routes.AlbumController.removeAlbum(event.eventId,album.albumId), 'class -> "well form-horizontal"){
                <td><button type="submit" class="btn btn-danger btn-mini">Remove album</button></td>
                }
            </tr>
        }
        </tbody>
    </table>

    @form(action = routes.AlbumController.showAddAlbum(event.eventId), 'class -> "form-inline"){
        <button type="submit" class="btn btn-info btn-small">Add album</button>
    }

</div>

<div class="well">

    <h3>Participants</h3>


    <table class="table table-striped">
        <thead>
        <tr>
            <th>Particpant</th>
            <th colspan="1">Actions</th>
        </tr>
        </thead>
        <tbody>
            @for( participant <- participants ){
                <tr>
                    <td>@participant.username</td>
                    <td>
                        @form(action = routes.EventController.removeParticipant(event.eventId,participant.participantId), 'class -> "form-horizontal"){
                        <button type="submit" class="btn btn-info btn-mini">Remove</button>
                        }
                    </td>
                </tr>
            }
        </tbody>
    </table>

    @form(action = routes.EventController.addParticipant(event.eventId), 'class -> "well form-horizontal"){
        <input type="text" name="username" class="span3" placeholder="Username of participant" value=""/>
        <button type="submit" class="btn btn-info btn-small">Add participant</button>
    }

</div>

}