@(event: Event)(implicit currentParticipant: Option[Participant], flash: Flash)

@import helper._
@import helper.twitterBootstrap._
@import models._

@main(" snaps | Private event "){
<li>
    <span class="divider">/</span>
    <a href="@routes.EventController.viewEvent(event.eventId)">Event</a>
</li>
} {
    <h3>@event.eventName</h3>

    <br/>


    <div class="alert alert-info">
        Join request sent to the organiser of this event
    </div>

    @flash.get("message").map { message =>
        <p class="alert alert-info">
            @message
        </p>
    }

    @flash.get("errorMessage").map { message =>
        <p class="alert alert-error">
            @message
        </p>
    }


}