@(searchText: String,events: Seq[Event])(implicit currentParticipant: Option[Participant])

@import helper._
@import helper.twitterBootstrap._

@main(" snaps @ flurdy") {

}{

     <h2>Events</h2>



    <table class="table table-striped">
        <thead>
            <tr>
                <th>Event</th>
                <th>Date</th>
                <th>Organisers</th>
            </tr>
        </thead>
        <tbody>
        @for(event <- events) {
            <tr>
                <td><a href="@routes.EventController.viewEvent(event.eventId)">@event.eventName</a></td>
                <td>@event.eventDate</td>
                <td>@event.organiser</td>
                <td>@if(!event.public){<i class="icon-lock"></i>}</td>
            </tr>
        }
        </tbody>
    </table>

    @form(action = routes.EventController.search(), 'class -> "well form-search"){
    <fieldset>
        <legend>Find event</legend>
        <input type="text" name="searchText" class="span3 input-medium search-query" value="@searchText" placeholder="Event name or organiser">
        <button type="submit" class="btn btn-primary">search</button>
    </fieldset>
    }
}