@(event: Event)(implicit currentParticipant: Option[Participant], flash: Flash)

@import helper._
@import helper.twitterBootstrap._
@import models._

@main(" snaps | Private event "){
<li>
    <span class="divider">/</span>
    <a href="@routes.EventController.viewEvent(event.eventId)">Event</a>
</li>
} {


    <h3>@event.eventName</h3>

    @event.organiser.map{ organiser => <h5>Organiser: <em>@organiser.username</em></h5> }.getOrElse("")

    <br/>

    @flash.get("message").map { message =>
    <p class="alert alert-info">
        @message
    </p>
    }

    @flash.get("errorMessage").map { message =>
    <p class="alert alert-error">
        @message
    </p>
    }

    <div class="alert alert-block">
        This event is private and
        unfortunately you do not have access to it.
    </div>

    <div class="alert alert-info">
        You may contact the organiser and ask to be a participant.
    </div>



<div class="form-actions">

        @form(action = routes.EventController.requestToJoin(event.eventId),'class -> "form-inline"){
        <button type="submit" class="btn btn-info btn-small">Join event</button>
        }

    </div>

}