@(event: Event)

@import helper._
@import helper.twitterBootstrap._
@import models._

@main("snaps | view event | " + event.eventName){
<li>
    <span class="divider">/</span>
    <a href="@routes.EventController.viewEvent(event.eventId)">Event</a>
</li>
} {

    <div class="">

    <h2>@event.eventName</h2>

<br/>

    <p>Event date: @event.eventDate</p>

<br/>

    <p class="description">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>

    </div>

<br/><br/>

    <div class="well">

        <h3>Photo albums</h3>

    <table class="table table-striped">
        <thead>
            <tr>
                <th>Publisher</th>
                <th>Link</th>
            </tr>
        </thead>
        <tbody>
        @for(album <- event.albums){
            <tr>
                <td>@album.publisher</td>
                <td><a href="@album.url" target="_blank">@album.url <img class="external-link" src="@routes.Assets.at("images/external-link-ltr-icon.png")"/></a></td>
                <td></td>
            </tr>
        }
        <!--
            <tr>
                <td>John Smith</td>
                <td><a href="http://picasaweb.google.com/flurdy/Industrigata" target="_blank">http://picasaweb.google.com/flurdy/Industrigata <img class="external-link" src="@routes.Assets.at("images/external-link-ltr-icon.png")"/></a></td>
                <td></td>
            </tr>
            <tr>
                <td>Sue Smith</td>
                <td><a href="http://www.flickr.com/photos/flurdy/sets/72157624009834665/" target="_blank">http://www.flickr.com/photos/flurdy/sets/72157624009834665/ <img class="external-link" src="@routes.Assets.at("images/external-link-ltr-icon.png")"/></a></td>
                <td><i class="icon-lock"></i></td>
            </tr>
            -->
        </tbody>
    </table>

    </div>

<br/><br/>

    <div class="form-actions">

        @form(action = routes.AlbumController.showAddAlbum(event.eventId), 'class -> "form-inline"){
            <button type="submit" class="btn btn-info btn-small">Add album</button>
        }
        @form(action = routes.EventController.showEditEvent(event.eventId), 'class -> "form-inline"){
            <button type="submit" class="btn btn-warning btn-small">Edit event</button>
        }
    </div>


<style>
    #jib .breadcrumb { margin: 0.8em; }
</style>

}
