@(event: Event,albums: Seq[Album],participants: Seq[Participant])(implicit currentParticipant: Option[Participant], flash: Flash)

@import helper._
@import helper.twitterBootstrap._
@import models._

@main("snaps | view event | " + event.eventName){
<li>
    <span class="divider">/</span>
    <a href="@routes.EventController.viewEvent(event.eventId)">Event</a>
</li>
} {

@flash.get("message").map { message =>
<p class="alert alert-info">
    @message
</p>
}

@flash.get("warnMessage").map { message =>
<p class="alert alert-warning">
    @message
</p>
}

@flash.get("errorMessage").map { message =>
<p class="alert alert-error">
    @message
</p>
}

    <div class="">

    <h2>@event.eventName</h2>

    @if(event.eventDate.isDefined){
    <br/>

    <p>Event date: @event.eventDate</p>
    }

    @if(event.organiser.isDefined){
    <br/>

    <p>Event organiser: @event.organiser.map { organiser => @organiser.username}</p>
    }

    <br/>

    <p class="description">@event.description</p>

    </div>

<br/><br/>

@if(albums.isEmpty){
<p></p>
} else {
    <div class="well">

        <h3>Photo albums</h3>
    <table class="table table-striped">
        <thead>
            <tr>
                <th>Publisher</th>
                <th>Link</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
        @for(album <- albums){
            <tr>
                <td>@album.publisher</td>
                <td><a href="@album.url" target="_blank">@album.url <img class="external-link" src="@routes.Assets.at("images/external-link-ltr-icon.png")"/></a></td>
                <td>
                   <!-- <i class="icon-lock"></i> -->
                </td>
            </tr>
        }
        </tbody>
    </table>
    </div>

}

@if(!event.public){
    <p>
        <i class="icon-lock"></i>
        Restricted event. Not viewable by all</p>

    <br/>
}

<br/>

    <div class="form-actions">

        @if( currentParticipant.isDefined ){
            @if( event.isParticipant(currentParticipant.get)  ){
                @form(action = routes.AlbumController.showAddAlbum(event.eventId), 'class -> "form-inline"){
                    <button type="submit" class="btn btn-info btn-small">Add album</button>
                }
            }
            @if( event.isOrganiser(currentParticipant.get)  ){
                @form(action = routes.EventController.showEditEvent(event.eventId), 'class -> "form-inline"){
                    <button type="submit" class="btn btn-warning btn-small">Edit event</button>
                }
            }
            @if( !event.isParticipant(currentParticipant.get)  ){
                @form(action = routes.EventController.requestToJoin(event.eventId),'class -> "form-inline"){
                    <button type="submit" class="btn btn-info btn-small">Join event</button>
                }
            }
        }

    </div>


<style>
    #jib .breadcrumb { margin: 0.8em; }
</style>

}
