@()(implicit flash: Flash)

@import helper._
@import helper.twitterBootstrap._
@import models._

@main(" snaps | reset password"){
<li>
</li>
} {

    @flash.get("message").map { message =>
        <p class="alert alert-info">
           @message
        </p>
    }

    @flash.get("warnMessage").map { message =>
        <p class="alert alert-warning">
         @message
        </p>
    }

    @flash.get("errorMessage").map { message =>
        <p class="alert alert-error">
            @message
        </p>
    }

       <h2>Reset password</h2>

    <br/>
    <div class="alert alert-block">
        Please confirm you want to reset your password
    </div>

    @form(action = routes.ParticipantController.resetPassword, 'class -> "form-horizontal"){
        <fieldset>
            <div class="control-group">
                <label for="username" class="control-label">Username</label>
                <div class="controls">
                    <input type="text" id="username" name="username" class="span4" placeholder="Your username"/>
                </div>
            </div>
            <div class="form-actions">
                <button type="submit" class="btn btn-danger">Reset password</button>
            </div>
        </fieldset>
    }


}