@(event: Event, albumForm: Form[(Option[String],String,Option[String])])(implicit currentParticipant: Option[Participant], analyticsDetails: Option[String])

@import helper._
@import helper.twitterBootstrap._
@import models._

@main(" snaps | add album") {
<li>
    <span class="divider">/</span>
    <a href="@routes.EventController.viewEvent(event.eventId)">Event</a>
</li>
<li>
    <span class="divider">/</span>
    Album
</li>
}{

    <h2>Add album</h2>

    <br/>

    <h3>Event: @event.eventName</h3>

    <br/>
    @for(error <- albumForm.errors){
        <p class="alert alert-error">
            Oh dear: @error.message: @error.key
        </p>
    }

    @form(action = routes.AlbumController.addAlbum(event.eventId), 'class -> "well form-horizontal"){
        <fieldset>
            <label>Publisher</label>
            <input type="text" name="publisher" class="span3" placeholder="name of album owner" readonly="readonly" value="@albumForm("publisher").value"/>
            <label>URL Link</label>
            <input type="text" name="url" class="span4" placeholder="http://www.example.com/album/123"v alue="@albumForm("url").value"/>
            <label>Notes</label>
            <textarea rows="4" cols="60" name="notes" class="span4" placeholder="Notes regarding how to access album">@albumForm("note").value</textarea>
        </fieldset>
        <div class="form-actions">
            <button type="submit" class="btn btn-success">Add album</button>
            <a href="@routes.EventController.viewEvent(event.eventId)"><button type="button" class="btn">Cancel</button></a>
        </div>
    }


}