@(event: Event, albumForm: Form[(String,String)])

@import helper._
@import helper.twitterBootstrap._
@import models._

@main(" snaps | add album") {
<li>
    <span class="divider">/</span>
    <a href="@routes.EventController.viewEvent(event.eventId)">Event</a>
</li>
<li>
    <span class="divider">/</span>
    Album
</li>
}{

    <h2>Add album</h2>

    <br/>

    <h3>Event: @event.eventName</h3>

    <br/>
    @for(error <- albumForm.errors){
        <p class="alert alert-error">
            Oh dear: @error.message: @error.key
        </p>
    }

    @form(action = routes.AlbumController.addAlbum(event.eventId), 'class -> "well form-horizontal"){
        <fieldset>
            <legend>Publisher</legend>
            <input type="text" name="publisher" class="span3" placeholder="name of album owner" value="@albumForm("publisher").value">
        </fieldset>
        <fieldset>
            <legend>URL Link</legend>
            <input type="text" name="url" class="span4" placeholder="http://www.example.com/album/123"v alue="@albumForm("url").value">
        </fieldset>
        <div class="form-actions">
            <button type="submit" class="btn btn-success">Add album</button>
            <a href="@routes.EventController.viewEvent(event.eventId)"><button type="button" class="btn">Cancel</button></a>
        </div>
    }


}