@(searchForm: Form[String],createForm: Form[String], registerForm: Form[(String,Option[String],String,String,String)])(implicit currentParticipant: Option[Participant], flash: Flash, analyticsDetails: Option[String])

@import helper._
@import helper.twitterBootstrap._

@main("snaps @ flurdy") {

}{

    @for(error <- searchForm.errors){
        <p class="alert alert-error">
            Oh dear: @error.message: @error.key
        </p>
    }

    @flash.get("message").map { message =>
    <p class="alert alert-info">
        @message
    </p>
    }

    @flash.get("warnMessage").map { message =>
    <p class="alert alert-warning">
        @message
    </p>
    }

    @flash.get("errorMessage").map { message =>
    <p class="alert alert-error">
        @message
    </p>
    }

@form(action = routes.EventController.search(), 'class -> "well form-search"){
    <h3>Find event or participant</h3>
    <fieldset>
        <input type="text" name="searchText" class="span3 search-query" placeholder="Event name or organiser"/>
        <button type="submit" class="btn btn-primary">Search</button>
    </fieldset>
}

@for(error <- createForm.errors){
<p class="alert alert-error">
    Oh dear: @error.message: @error.key
</p>
}

@form(action = routes.EventController.createEvent(), 'class -> "well form-horizontal"){
    <h3>Create event</h3>
    <fieldset>
        <input type="text" name="eventName" id="eventName" class="span3" placeholder="Event name" value="@createForm("eventName").value"/>
        <button type="submit" class="btn btn-success">Create event</button>
    </fieldset>
}


@if( ! currentParticipant ){

    @form(action = routes.Application.firstRegisterStep(), 'class -> "well form-horizontal"){
        <h3>Register as participant</h3>
        <fieldset>
            <div class="control-group">
                <label for="register-username" class="control-label">Username</label>
                <div class="controls">
                    <input type="text" name="username" id="register-username" class="span3" placeholder="Your username" value="@registerForm("username").value"/>
                </div>
            </div>
            <div class="control-group">
                <label for="register-email" class="control-label">Email</label>
                <div class="controls">
                    <input type="text" name="email" id="register-email" class="span3" placeholder="Your email address" value="@registerForm("email").value"/>
                    <button type="submit" class="btn btn-warning">Register</button>
                </div>
            </div>
        </fieldset>
    }

    <p class="alert alert-warning">
        Please note this is a system in development.
        Data may not be persisted over time.
    </p>

}




<style>
    #jib .breadcrumb { display: none; }
</style>
    
}