@(searchForm: Form[String],createForm: Form[String])

@import helper._
@import helper.twitterBootstrap._

@main(" snaps @ flurdy") {

}{

        <br/>

@for(error <- searchForm.errors){
<p class="alert alert-error">
    Oh dear: @error.message: @error.key
</p>
}

@form(action = routes.EventController.search(), 'class -> "well form-search"){
<fieldset>
    <legend>Find event</legend>
    <input type="text" name="searchText" class="span3 input-medium search-query" placeholder="Event name or organiser">
    <button type="submit" class="btn btn-primary">Search</button>
</fieldset>
}

@for(error <- createForm.errors){
<p class="alert alert-error">
    Oh dear: @error.message: @error.key
</p>
}

@form(action = routes.EventController.createEvent(), 'class -> "well form-horizontal"){
<fieldset>
    <legend>Create event</legend>
    <input type="text" name="eventName" id="eventName" class="span3 input-medium" placeholder="Event name" value="@createForm("eventName").value">
    <button type="submit" class="btn btn-success">Create event</button>
</fieldset>
}
<style>
    #jib .breadcrumb { display: none; }
</style>
    
}