@(loginForm: Form[(String,String)])(implicit currentParticipant: Option[Participant], flash: Flash)

@import helper._
@import helper.twitterBootstrap._
@import models._

@main("snaps | Login"){
    <span class="divider">/</span>
    Login
}{

<h2>Log into Snaps</h2>
        <br/>


    @flash.get("message").map { message =>
    <p class="alert alert-warning">
        @message
    </p>
    }

@for(error <- loginForm.errors){
    <p class="alert alert-error">
        Oh dear: @error.message: @error.key
    </p>
    }

@form(action = routes.Application.login(), 'class -> "well"){
    <fieldset>
        <label for="username">Username</label>
        <input type="text" id="username" name="username" class="span3" placeholder="your username or email address" value="@loginForm("username").value" />
        <label for="password">Password</label>
        <input type="password" id="password" name="password" class="span3" placeholder="your password" />
    </fieldset>
    <div class="form-actions">
        <button type="submit" class="btn btn-primary">Log in</button>
        <a href="@routes.Application.showRegister" class="btn btn-inverse">Register</a>
    </div>
}


}