@(title: String)(breadcrumb: Html)(content: Html)(implicit currentParticipant: Option[Participant]=None, analyticsDetails: Option[String])
<!DOCTYPE html>

<html lang="en">
<head>
    <title>@title</title>
    <link rel="shortcut icon" type="image/png" href="@routes.Assets.at("images/favicon.png")">
    <link rel="stylesheet" media="screen" href="@routes.Assets.at("stylesheets/bootstrap.min.css")" />
    <link rel="stylesheet" media="screen" href="@routes.Assets.at("stylesheets/grid.css")">
    <link rel="stylesheet" media="screen" href="@routes.Assets.at("stylesheets/ship.css")">
    <link rel="stylesheet" media="screen" href="@routes.Assets.at("stylesheets/cargo.css")">
    <script src="@routes.Assets.at("javascripts/jquery-1.7.1.min.js")" type="text/javascript"></script>
    <script src="@routes.Assets.at("javascripts/bootstrap.min.js")" type="text/javascript"></script>
    @analytics(analyticsDetails)
</head>
<body>
<div id="ocean" class="structure">
    <div id="fleet" class="structure">
        <div id="regatta" class="structure">
            <div id="ship" class="structure">
                <div id="hull" class="structure">
                    <div id="vaka" class="structure">
                        <div id="bow" class="structure">
                            <a href="http://github.com/flurdy/snaps" target="_blank"><img id="fork-me" alt="Fork me on github"
                                       title="Fork me on github" src="@routes.Assets.at("images/ForkMe_Blk.png")" /></a>
                            <header class="topbar">
                                <h1 class="fill">
                                    Snaps
                                </h1>
                                <p>
                                    event photo snaps
                                </p>
                            </header>
                        </div>
                        <div id="keel" class="structure">
                            <div id="innerhull" class="structure">
                                <div id="jib" class="compartment">
                                    <ul class="breadcrumb">
                                        <li>
                                            <a href="@routes.Application.index()">Home</a>
                                        </li>
                                        @breadcrumb
                                    </ul>
                                </div>
                                <div id="bulkhead" class="structure">
                                    <div id="ballast" class="structure compartment">
                                        <section id="cargo" class="compartment">
                                            @content
                                        </section>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div id="aft" class="compartment">
                            <ul class="horizontal">
                                <li><a href="@routes.Application.index()">Home</a></li>
                                <li><a href="http://grid.flurdy.com/snaps/" target="_blank">About</a></li>
                                <li><a href="http://flurdy.com/contact/" target="_blank">Contact</a></li>
                                <li class="login-link">
                                @currentParticipant match {
                                    case Some(participant) => {<a href="@routes.Application.logout" rel="nofollow">Log out</a></li><li class="login-link"><a href="@routes.ParticipantController.viewParticipant(participant.participantId)">@participant.username</a>
                                    }
                                    case None => {<a href="@routes.Application.showLogin" rel="nofollow">Log in</a></li><li class="login-link"><a href="@routes.Application.showRegister">Register</a>
                                    }
                                }
                                </li>
                            </ul>
                        </div>
                        <div id="stern" class="compartment">
                            <div id="flurdy"><a href="http://flurdy.com" target="_blank"><img
                                    alt="flurdy" title="made by flurdy" border="0"
                                    src="@routes.Assets.at("images/flurdy_warped_dual_small.png")" /></a></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div id="dragons" class="structure"></div>
</body>
</html>
